* {
    margin: 0;
    padding: 0;
    border: none;
}

img {
    width: 100%;
}

body {
    margin: 0 auto;
}

a {
    color: #3e1e20;
}

.hidden {
    display: none;
}


/* header */

.height-header {
    top: 0;
    height: 50px;
    margin: 0 auto;
    background-color: white;
    color: #3e1e20;
    border-bottom: 1px solid #3e1e20;
    position: fixed;
    z-index: 1000;
    width: 100%;
    padding: 0;
}

.align-header-left {
    position: relative;
    float: left;
    width: 55%;
}

.align-header-right {
    float: right;
    width: 45%;
}

.align-header-center {
    position: absolute;
    top: 50%;
    transform: translateY(50%);
}

.logo-text {
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 1.3em;
    padding-left: 20px;
}

.category {
    display: flex;
    top: 50%;
    transform: translateY(50%);
}

.category-item {
    list-style-type: none;
    margin: 0 25px 0 25px;
}

.sub-category {
    position: absolute;
    margin-top: 14px;
    left: -122%;
    height: 200px;
    display: flex;
    clear: both;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important;
    width: 222% !important;
    background-color: white;
    justify-content: space-around;
}

.sub-category-item {
    list-style-type: none;
    margin: 5px;
}

.category-img {
    height: 150px;
}

.sub-category-hover {
    display: none;
}

.category-item:hover .sub-category-hover {
    display: block;
}


/* header */


/* body */

.title-head {
    font-size: 50px;
    font-family: Raleway, sans-serif;
    color: #3e1e20;
    font-weight: 800;
    line-height: 58px;
    margin-bottom: 16px;
}

.title-center {
    font-family: Raleway, sans-serif;
    color: #3e1e20;
    font-weight: 800;
    font-size: 32px;
    line-height: 36px
}

.line-style-1 {
    padding-top: 10%;
    padding-bottom: 15%;
    height: 33%;
    background: linear-gradient(rgba(255, 138, 0, .2), #fff);
}

.line-style-2 {
    padding-top: 10%;
    padding-bottom: 5%;
    height: 33%;
    background: linear-gradient(rgba(156, 39, 176, .2), #fff);
}

.line-style-3 {
    padding-top: 15%;
    padding-bottom: 10%;
    height: 34%;
    background: linear-gradient(rgba(255, 138, 0, .2), #fff);
}

.container {
    position: relative;
}

.action-button {
    margin-top: 32px;
    display: flex;
    align-items: center;
}

.start-with-sutdio-btn {
    padding: 12px 40px;
    background: #2C6975;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    border-radius: 6px;
    transition: .2s;
    margin-right: 5px;
    font-family: Open Sans, sans-serif;
    min-width: 240px;
    display: flex;
    align-items: center;
}

.home-signin {
    padding: 12px 20px;
    background: #fff;
    color: #2C6975;
    font-weight: 600;
    font-size: 18px;
    border-radius: 6px;
    transition: .2s;
    font-family: Open Sans, sans-serif;
    min-width: 240px;
}

.content-style {
    padding-left: 15px;
}

.content-item {
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 5px;
}

.content-item:hover {
    background-color: #2C6975;
    color: white;
}

.circle-img {
    border-radius: 50%;
}

.workspace-preview-img {
    width: 100%;
    display: block;
    box-shadow: 0 0 10px 5px #eff1fc;
    border-radius: 10px;
}

.work-space-subhead {
    margin-top: 20px;
    font-size: 18px;
    line-height: 28px;
    color: #5a5d68;
    font-family: Open Sans, sans-serif;
    margin-bottom: 40px;
}


/* body */


/* footer */

footer {
    clear: both;
    height: 100px;
    top: 100%;
    position: sticky;
    width: 100%;
    border-top: 1px solid #3e1e20;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

.footer-link-header {
    font-weight: 800;
    font-size: 16px;
    color: #3e1e20;
    font-family: Raleway, sans-serif;
}

.footer-link-container {
    margin-top: 10px;
    margin-bottom: 40px;
}

.footer-link-item {
    display: block;
    font-size: 14px;
    border: 0!important;
    margin-bottom: 3px;
    text-decoration: none;
    color: #3e1e20;
    font-family: "Open Sans", sans-serif;
}

.footer-icon {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    text-align: center;
}

.font-footer {
    position: absolute !important;
    bottom: 0 !important;
}


/* footer */


/* login */

form {
    border: 1px solid black;
    margin: 10% 25% 10% 25%;
    box-shadow: 0 0 10px 5px #3e1e20;
    background: linear-gradient(rgba(255, 138, 0, .2), #fff);
}

.align-center {
    display: flex;
    justify-content: center;
}

.border {
    border: 1px solid #e52e71 !important;
}

.title {
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 1.5em;
    text-align: center;
    color: #3e1e20;
    padding: 15px;
}

.start-with-sutdio-btn-log {
    padding: 12px 40px;
    /* background: #2C6975; */
    background-image: linear-gradient(to top left, #ff8a00 30%, #e52e71);
    color: #3e1e20;
    font-weight: 700;
    font-size: 18px;
    border-radius: 6px;
    transition: .2s;
    margin-right: 5px;
    font-family: Open Sans, sans-serif;
    min-width: 90px;
    display: flex;
    align-items: center;
}


/* login */